# Python Basic:-
## Ctrl+Enter, Shift+Enter, x

In [9]:
print("Welcome to Python")

Welcome to Python

# Variables

In [46]:
a = "1000"

In [47]:
type(a)

str

In [20]:
a = 100
b = 200

In [21]:
print(id(a))
print(id(b))

140709456555504
140709456558704

In [23]:
a = 200

In [24]:
print(id(a))
print(id(b))

140709456558704
140709456558704

In [25]:
a

200

In [26]:
b

200

In [28]:
c

NameError: name 'c' is not defined

In [30]:
# 1.can be in alphabet with in range of a - z A -Z

txt = "Name1"
Txt = "Name2"

In [32]:
# 2. should not start with Digits
0txt = "12345"

SyntaxError: invalid syntax (<ipython-input-32-10ce5d9052de>, line 2)

In [33]:
# 3. should not be a keyword as a variable

for = "Gopi"

SyntaxError: invalid syntax (<ipython-input-33-1c0fc66c09c0>, line 3)

In [34]:
# 4. "!, @, #, %, $" cannot use special sysmbls

@google = 123

SyntaxError: invalid syntax (<ipython-input-34-e623e467fe98>, line 3)

In [35]:
# valid Variable name:- 

myVariable = 5
myVariable22 = 100
_myVariable = 5000

In [ ]:
# invalid variable name:-

5Myvarialbe = 123
!myVariable = 20000
global = "Gopi"

In [ ]:
# Case Sensitive Language
thing = 1
thIng = 2
THING = 3
THiNg = 4

In [37]:
# Statements

a = 100
b = 200   # Assignment Statement

print(a, b)

100 200

In [38]:
a = 1 + 2 + 3 + 4 + 5 + \
5 + 4 + 3 + 2 + 1          # Multiple statement

print(a)

30

In [39]:
a  = (1 + 2 + 3 + 4 + 5 + 
5 + 4 + 3 + 2 + 1)

print(a)

30

In [40]:
# Multiple Assigment Statement

a = 10; b = 20; c = 30

In [41]:
a, b, c = 100, 200, 300

print(a)
print(b)
print(c)

100
200
300

In [42]:
a = b = c = "same data"

In [43]:
a

'same data'

In [44]:
b

'same data'

In [45]:
c

'same data'

# DataTypes:-

In [ ]:
# 1. String ------ Char
# 2. int ---------  long, short
# 3. Float-------- double
# 4. bool
# 5. Complex ------  1 + 10J

# Data Structure:- 
#    1. List
#    2. Tuple
#    3. Set
#    4. Dict

In [1]:
# int

a = 100

In [2]:
type(a)

int

In [3]:
id(a)

140722567753200

In [4]:
a = 100
b = 200

In [7]:
print(a + b)

300

In [8]:
type(a)

int

In [19]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

Enter the value of a: 200
Enter the value of b: 300

In [20]:
print(a)
print(b)

200
300

In [22]:
print(a + b)

500

In [26]:
print(a)
print(b)

200
300

In [27]:
a

200

In [28]:
# Number -> int, float

a = 100
b = 10.10

In [29]:
type(a)

int

In [30]:
type(b)

float

# Booleans

In [32]:
# Booleans

a = True
b = False

In [33]:
type(a)

bool

In [34]:
type(b)

bool

In [36]:
# " = " and " == "

In [38]:
a = 1

print(a == 1) -----> a == 1 -----> (a == 1) == True

True

In [39]:
print(a == 2)

False

#  None

In [40]:
a = None

In [41]:
print(a)

None

# Operators:-

In [ ]:
# 1. Arithmethic Operators
# 2. Relational Comparison
# 3. Logical Operators
# 4. Bitwise
# 5. Assingment 
# 6. Ternary Operator
# 7. Special Operator

In [42]:
a = 4
b = 2

In [47]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

6
2
8
2.0
2
16
0

In [ ]:
txt = "Gopi"