# String Manuipulation

In [1]:
txt1  = "Welcome to the python World"

In [2]:
type(txt1)

str

In [3]:
txt2 = 'Welcome to the python World'

In [4]:
type(txt2)

str

In [5]:
txt3 = """Python was conceived in the late 1980s by Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in 
the Netherlands as a successor to the ABC language (itself inspired by SETL), capable of exception handling and 
interfacing with the Amoeba operating system. Its implementation began in December 1989."""

In [6]:
type(txt3)

str

In [9]:
txt4 = 'I don\'t know python before'

In [10]:
type(txt4)

str

In [11]:
txt4

"I don't know python before"

In [25]:
txt5 = "I don't know python before \t"

In [26]:
txt5

"I don't know python before \t"

In [31]:
print(r'I don\'t know python \t before')

I don\'t know python \t before

In [32]:
# \n, \t, \\, r, f

In [40]:
txt1  = "welcome to the python world"

# in, not in

In [35]:
"python" in txt1

True

In [36]:
"PYTHON" not in txt1

True

# isupper(), islower()

In [41]:
txt1.isupper()

False

In [42]:
txt1.islower()

True

In [44]:
txt1.upper().isupper()

True

In [45]:
txt1.upper().islower()

False

In [46]:
txt1

'welcome to the python world'

In [50]:
lst = txt1.split(' ')

In [51]:
lst

['welcome', 'to', 'the', 'python', 'world']

In [55]:
' '.join(lst)

'welcome to the python world'

In [60]:
#       0 1 2 3 4 5 6
       "W E L C O M E"
       -7-6-5-4-3-2-1

In [76]:
t = "WELCOME TO TESTLEAF"

In [81]:
t[0]

'W'

In [78]:
txt

'WELCOME'

In [79]:
len(txt)

7

In [91]:
# Slicing - substring

t = "WELCOME TO TESTLEAF"

In [92]:
# syntax for slicing 
# - default value for starting Index is 0
# - default value for end Index is len(str)
# - default value for step is 1

# string[Index]
# string[startIndex : endIndex] ---------------------> startIndex is inclusive, endIndex is exclusive
# string[startIndex : endIndex : steps]

In [93]:
print(t[1])

E

In [94]:
print(t[0 : 7])

WELCOME

In [95]:
print(t[ : 7])

WELCOME

In [99]:
print(t[8 : ])

TO TESTLEAF

In [100]:
print(t[8 : 15])

TO TEST

In [101]:
print(t[ : ])

WELCOME TO TESTLEAF

In [106]:
print(t[ :  : -1])

FAELTSET OT EMOCLEW

In [113]:
# String format:-

a = "123456"

print(f"hello {a}")

hello 123456

In [114]:
print("hello {0} {1} {2}".format(a, b ,c))

hello 123456

# range function

In [116]:
# range(index)
# range(startindex, endIndex)
# range(startIndex, endIndex, step)

In [117]:
range(10)

range(0, 10)

In [118]:
range(11, 25)

range(11, 25)

In [119]:
range(0, 11, 2)

range(0, 11, 2)

# For

In [ ]:
# for i in range(10):
# for i in sequence:
# for i in list:
# for i in tuple:
# for i in set:
# for i in dict:
# for i in range(len(str)):

In [126]:
for i in range(11, 21, 2):
    print(i)
print("**********")

11
13
15
17
19
**********

In [124]:
for j in "Gopinath":
    print(j)

G
o
p
i
n
a
t
h

In [128]:
print("5 * 2 = 5")

5 * 2 = 5

In [131]:
print(f"5 * 4 = {5 * 4}")

5 * 4 = 20

In [133]:
for i in range(1, 11):
    print(f"5 * {i} = {5 * i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [134]:
for i in range(1, 11):
    print("{0} * {1} = {2}".format(5, i, 5 * i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [135]:
txt = "testleaf"

In [136]:
txt.capitalize()

'Testleaf'

In [137]:
txt.count('t')

2

In [138]:
len(txt)

8

In [ ]:
if():