In [24]:
c = [1, 2, 3, 4, 5,6, 7, 8, 9, 10]
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
sq = lambda a : a**2

In [7]:
sq(5)

25

In [8]:
ls = []
for i in c:
    ls.append(sq(i))

In [9]:
ls

[1, 4, 9, 16, 25]

In [10]:
# Map:- is funtion, its expecting function object and any no. of 
#       iterable(for ex, list,tuple, set also dict).
#       its execute the function object for each item of given iterable.
#       return list

# Syntax

# map(func, iterable1.......)
# map(func, iterable1, iterble2.....)

In [20]:
m = map(lambda a : a**2, [1, 2, 3, 4, 5])

In [21]:
tuple(m)

(1, 4, 9, 16, 25)

In [23]:
list(map(lambda a : a**2, c))

[1, 4, 9, 16, 25]

In [22]:
lm = lambda a : a**2
c = [1, 2, 3, 4, 5]
m = map(lm, c)
list(m)

[1, 4, 9, 16, 25]

In [25]:
list(map(lambda a : a**2, c))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
list(map(lambda a : a + 2 if a % 2 ==0 else a + 1, [1, 2, 3, 4, 5]))

[2, 4, 4, 6, 6]

In [28]:
name = "gopinath"
fn  = lambda a : a.upper()
m = map(fn, name)
list(m)

['G', 'O', 'P', 'I', 'N', 'A', 'T', 'H']

In [31]:
inputval = "Python is funny language".split()
fn  = lambda a : a.upper()
m = map(fn, inputval)
list(m)

['PYTHON', 'IS', 'FUNNY', 'LANGUAGE']

In [32]:
inputval = "Python is funny language".split()
fn  = lambda a : len(a)
m = map(fn, inputval)
list(m)

[6, 2, 5, 8]

In [33]:
def add(a, b):
    return a + b

In [34]:
add(10, 20)

30

In [35]:
ad = lambda a, b : a + b

In [36]:
ad(2, 5)

7

In [37]:
list(map(lambda a, b : a + b, [1, 2, 3, 4, 5], [10, 20, 30, 40, 50]))

[11, 22, 33, 44, 55]

In [39]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [10, 20, 30 ,40 ,50]
ls3 = ['a', 'b', 'c']


list(map(lambda a, b, c : a + b + c, ls1, ls2, ls3))

[111, 222, 333]

In [40]:
# 1. Write a program to covert celsius to fahrenheit of given data?

input = {
            'Chennai'   : 29,
            'Bangalore' : 36,
            'Hyderabad' : 19,
            'Delhi'     : 26,
            'Mumbai'    : 32
        }

In [41]:
input

{'Chennai': 29, 'Bangalore': 36, 'Hyderabad': 19, 'Delhi': 26, 'Mumbai': 32}

In [43]:
it = input.items()

In [46]:
for i in it:
    print(i)

('Chennai', 29)
('Bangalore', 36)
('Hyderabad', 19)
('Delhi', 26)
('Mumbai', 32)

In [47]:
c_to_f = lambda data : (data[0], (9/5)*data[1] + 32)

In [48]:
list(map(c_to_f, it))

[('Chennai', 84.2),
 ('Bangalore', 96.8),
 ('Hyderabad', 66.2),
 ('Delhi', 78.80000000000001),
 ('Mumbai', 89.6)]